h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
}

.login-form {
    max-width: 500px;
}

label.required:after {
  content: "*";
  color: red;
}

.input-group .toggle-password {
    cursor: pointer;
}

.input-group .toggle-password i {
    font-size: 1.2rem;
}
