{# templates/base.html #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>TMM webinfo – {{ current_puzzlehunt_name }}</title>
</head>

<body>

{% if user and user.is_authenticated %}
{% include "_navigation.html" %}
{% endif %}

{% block content_main %}
<main class="container{{ "-fluid" if fluid }}">
    {% include "_flashes.html" %}
    <div class="row {{ "justify-content-center" if fluid }}">
        <div class="col{{ "-auto" if fluid }}">
            {% block content %}
                <h1>{{ title }}</h1>
                <p>Welcome to {{ title }}!</p>
            {% endblock content %}
        </div>
    </div>
</main>
{% endblock content_main %}

</body>
</html>
