{# templates/hint_edit.html #}

{% extends "base_admin.html" %}
{% import "_macros.html" as macros %}

{% block content_admin %}
    <h2>Přidat nápovědu k "{{ puzzle.puzzle }}</h2>
    <form method="post">
        <div class="row mb-3">
            <label for="puzzle" class="col-3 col-form-label">Šifra</label>
            <div class="col-9">
                <input type="text" class="form-control" id="puzzle" name="puzzle" disabled value="{{ puzzle.puzzle }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="order" class="col-3 col-form-label required">Pořadí</label>
            <div class="col-9">
                <input type="number" class="form-control" id="order" name="order" required value="{{ hint.order if hint else order }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="minutes_to_open" class="col-3 col-form-label required">Minuty do otevření</label>
            <div class="col-9">
                <input type="number" class="form-control" id="minutes_to_open" name="minutes_to_open" required value="{{ hint.minutes_to_open if hint else "" }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="hint" class="col-3 col-form-label">Nápověda</label>
            <div class="col-9">
                {{ macros.html_textarea("hint", hint.hint if hint else "") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <a class="btn btn-secondary" href="/puzzles/{{ puzzle.id_puzzle }}" role="button">Zpět</a>
            </div>
        </div>
    </form>
{% endblock content_admin %}
