{# templates/index.html #}

{% extends "base.html" %}

{% block content_main %}
    <main class="container">
    {% include "_flashes.html" %}

    <form method="post" action="/submit">
        <div class="row mb-3">
            <div class="col d-flex">
                <div class="flex-fill me-2">
                    <input type="text" class="form-control" id="code" name="code" required value="" placeholder="Kód stanoviště nebo řešení šifry" maxlength="256">
                    <label for="code"></label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </div>
            </div>
        </div>
    </form>

    {% if arrivals %}
        <h3>Šifry</h3>
    {% endif %}

    {% for arrival in arrivals %}
        <script>
            const intervals = {}
            const times = {}

            /** minut -> minutu, minuty */
            const declension = (n) => {
                if (n === 1) return "u";
                if (n >= 2 && n <= 4) return "y";
                return "";
            }

            function setButtonTime(id_puzzle, hint_order) {
                const time = times[id_puzzle][hint_order]--;
                if (time <= 0) {
                    enableHint(id_puzzle, hint_order);
                    return;
                }
                const minutes = Math.floor(time / 60);
                const seconds = time % 60;

                document.getElementById(`hint_disabled_${id_puzzle}_${hint_order}`).innerText =
                    `Za ${minutes} minut${declension(minutes)} ${seconds} sekund${declension(seconds)}`;
            }

            function enableHint(id_puzzle, hint_order) {
                document.getElementById(`hint_form_${id_puzzle}_${hint_order}`).classList.remove("d-none");
                document.getElementById(`hint_form_${id_puzzle}_${hint_order}`).classList.add("d-inline");
                document.getElementById(`hint_disabled_${id_puzzle}_${hint_order}`).classList.remove("d-inline");
                document.getElementById(`hint_disabled_${id_puzzle}_${hint_order}`).classList.add("d-none");
                clearInterval(intervals[id_puzzle][hint_order]);
            }

            function startInterval(id_puzzle, hint_order, seconds) {
                if (!times.hasOwnProperty(id_puzzle))
                    times[id_puzzle] = {};
                if (!intervals.hasOwnProperty(id_puzzle))
                    intervals[id_puzzle] = {};
                times[id_puzzle][hint_order] = seconds;
                intervals[id_puzzle][hint_order] = setInterval(setButtonTime, 1000, id_puzzle, hint_order);
                setButtonTime(id_puzzle, hint_order);
            }
        </script>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-file-earmark-richtext-fill text-info me-2"></i>{{ arrival.puzzle.puzzle }}</h5>
                        <div>{{ arrival.puzzle.assignment|safe }}</div>

                        {% for hint in arrival.puzzle.get_used_hints(current_user.id_team) %}
                            <h6 class="mt-2">Nápověda {{ hint.order }}</h6>
                            <div>{{ hint.hint|safe }}</div>
                        {% endfor %}

                        {% for hint in arrival.puzzle.get_available_hints(current_user.id_team) %}
                            <h6 class="mt-2">Nápověda {{ hint.order }}</h6>
                            <form class="{{ "d-inline" if hint.is_open(arrival.timestamp, current_user.id_team) else "d-none" }}"
                                  id="hint_form_{{ arrival.id_puzzle }}_{{ hint.order }}"
                                  method="post" action="/hint/{{ hint.id_hint }}" onsubmit='return confirm("Opravdu chcete nápovědu?")'
                            >
                                <button type="submit" class="btn btn-primary">Zobrazit nápovědu</button>
                            </form>
                            <button class="btn btn-primary {{ "d-inline" if not hint.is_open(arrival.timestamp, current_user.id_team) else "d-none" }}"
                                    id="hint_disabled_{{ arrival.id_puzzle }}_{{ hint.order }}"
                                    type="button" disabled>
                                {% if hint.requires_previous(current_user.id_team) %}
                                    Nejprve použijte předchozí nápovědy
                                {% elif not hint.is_open(arrival.timestamp, current_user.id_team) %}
                                    <script>
                                        let id_puzzle = {{ arrival.id_puzzle }};
                                        let hint_order = {{ hint.order }};
                                        let seconds = {{ hint.seconds_to_hint(arrival.timestamp)}};
                                        startInterval(id_puzzle, hint_order, seconds);
                                    </script>
                                {% endif %}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted">
                        <div>Příchod: {{ arrival.timestamp|format_time }}, kód stanoviště: "{{ arrival.arrival_code.code }}"</div>
                        {% if arrival.arrival_code.message %}
                            <div>{{ arrival.arrival_code.message|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if submitted_codes %}
        <h3>Zadané kódy</h3>
    {% endif %}

    {% for submitted_code in submitted_codes %}
        <div class="row">
            <div class="col">
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-file-earmark-code-fill text-primary me-2"></i>Kód: "{{ submitted_code.code.code }}"</h5>
                        <div>{{ submitted_code.code.message|safe }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        <div>Zadáno: {{ submitted_code.timestamp|format_time }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if solves %}
        <h3>Vyřešené šifry</h3>
    {% endif %}

    {% for solve, arrival in solves %}
        <div class="row">
            <div class="col">
                <div class="card text-bg-light border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-check-circle-fill text-success me-2"></i>{{ solve.puzzle.puzzle }}</h5>
                        <div>{{ solve.puzzle.assignment|safe }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        <div>Příchod: {{ arrival.timestamp|format_time }}, kód stanoviště: "{{ arrival.arrival_code.code }}"</div>
                        {% if arrival.arrival_code.message %}
                            <div>{{ arrival.arrival_code.message|safe }}</div>
                        {% endif %}
                        <div class="mt-2">Odchod: {{ solve.timestamp|format_time }}, řešení: "{{ solve.solution_code.code }}"</div>
                        {% if solve.solution_code.message %}
                            <div>{{ solve.solution_code.message|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </main>
{% endblock content_main %}
