{# templates/index.html #}

{% extends "base.html" %}

{% block content %}
    <form method="post" action="/submit">
        <div class="row mb-3">
            <div class="col d-flex">
                <div class="flex-fill me-2">
                    <input type="text" class="form-control" id="code" name="code" required value="" placeholder="Kód stanoviště nebo řešení šifry">
                    <label for="code"></label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
