{# templates/index.html #}

{% extends "base.html" %}

{% block content_main %}
    <main class="container">
    {% include "_flashes.html" %}

    <form method="post" action="/submit">
        <div class="row mb-3">
            <div class="col d-flex">
                <div class="flex-fill me-2">
                    <input type="text" class="form-control" id="code" name="code" required value="" placeholder="Kód stanoviště nebo řešení šifry">
                    <label for="code"></label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </div>
            </div>
        </div>
    </form>

    {% if arrivals %}
        <h3>Šifry</h3>
    {% endif %}

    {% for arrival in arrivals %}
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-file-earmark-richtext-fill text-info me-2"></i>{{ arrival.puzzle.puzzle }}</h5>
                        <div>{{ arrival.puzzle.assignment|safe }}</div>

                        {% for hint in arrival.puzzle.get_used_hints(current_user.id_team) %}
                            <h6 class="mt-2">Nápověda {{ hint.order }}</h6>
                            <div>{{ hint.hint|safe }}</div>
                        {% endfor %}

                        {% for hint in arrival.puzzle.get_available_hints(current_user.id_team) %}
                            <h6 class="mt-2">Nápověda {{ hint.order }}</h6>
                            {% if hint.is_open(arrival.timestamp, current_user.id_team) %}
                                <form method="post" action="/hint/{{ hint.id_hint }}" class="d-inline" onsubmit='return confirm("Opravdu chcete nápovědu?")'>
                                    <button type="submit" class="btn btn-primary">Zobrazit nápovědu</button>
                                </form>
                            {% else %}
                                <button type="button" class="btn btn-primary" disabled>{{ hint.hint_opens_in(arrival.timestamp, current_user.id_team) }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted">
                        <div>Příchod: {{ arrival.timestamp.strftime("%H:%M") }}, kód stanoviště: "{{ arrival.arrival_code.code }}"</div>
                        {% if arrival.arrival_code.message %}
                            <div>{{ arrival.arrival_code.message|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if submitted_codes %}
        <h3>Zadané kódy</h3>
    {% endif %}

    {% for submitted_code in submitted_codes %}
        <div class="row">
            <div class="col">
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-file-earmark-code-fill text-primary me-2"></i>Kód: "{{ submitted_code.code.code }}"</h5>
                        <div>{{ submitted_code.code.message|safe }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        <div>Zadáno: {{ submitted_code.timestamp.strftime("%H:%M") }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if solves %}
        <h3>Vyřešené šifry</h3>
    {% endif %}

    {% for solve, arrival in solves %}
        <div class="row">
            <div class="col">
                <div class="card text-bg-light border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-check-circle-fill text-success me-2"></i>{{ solve.puzzle.puzzle }}</h5>
                        <div>{{ solve.puzzle.assignment|safe }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        <div>Příchod: {{ arrival.timestamp.strftime("%H:%M") }}, kód stanoviště: "{{ arrival.arrival_code.code }}"</div>
                        {% if arrival.arrival_code.message %}
                            <div>{{ arrival.arrival_code.message|safe }}</div>
                        {% endif %}
                        <div class="mt-2">Odchod: {{ solve.timestamp.strftime("%H:%M") }}, řešení: "{{ solve.solution_code.code }}"</div>
                        {% if solve.solution_code.message %}
                            <div>{{ solve.solution_code.message|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </main>
{% endblock content_main %}
