{# templates/puzzles.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <h1>Průběh hry</h1>

    <div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col"></th>
            {% if start_times %}
                <th scope="col"></th>
            {% endif %}
            {% for puzzle in puzzles %}
                <th scope="col" colspan="3" class="border-start">{{ puzzle.puzzle }}</th>
            {% endfor %}
            {% if finish_times %}
                <th scope="col" class="border-start"></th>
            {% endif %}
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="col">Tým</th>
            {% if start_times %}
                <th scope="col" class="border-start">Start</th>
            {% endif %}
            {% for puzzle in puzzles %}
                <th scope="col" class="border-start">Př.</th>
                <th scope="col">Od.</th>
                <th scope="col">Náp.</th>
            {% endfor %}
            {% if finish_times %}
                <th scope="col" class="border-start">Cíl</th>
            {% endif %}
            <th scope="col" class="border-start">&Sum; náp.</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <th scope="row"><abbr title="{{ team.note }}">
                    <a href="/history/{{ team.id_team }}">{{ team.name }}</a>
                </abbr></th>
                {% if start_times %}
                    <td class="border-start">
                        {{ start_times[team.id_team] }}
                    </td>
                {% endif %}
                {% for puzzle in puzzles %}
                    <td class="border-start {{ "text-bg-warning"
                            if puzzle.id_puzzle in arrival_times[team.id_team]
                            and puzzle.id_puzzle not in solve_times[team.id_team] }}">
                        {{ arrival_times[team.id_team][puzzle.id_puzzle] }}
                    </td>
                    <td {{ "class=text-bg-success" if puzzle.id_puzzle in solve_times[team.id_team] }}>
                        {{ solve_times[team.id_team][puzzle.id_puzzle] }}
                    </td>
                    <td>
                        {{ hints[team.id_team][puzzle.id_puzzle] if hints[team.id_team][puzzle.id_puzzle] > 0 }}
                    </td>
                {% endfor %}
                {% if finish_times %}
                    <td class="border-start {{ "text-bg-info" if team.id_team in finish_times }}">
                        {{ finish_times[team.id_team] }}
                    </td>
                {% endif %}
                <td class="border-start">
                    {{ hints[team.id_team]["sum"] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content_admin %}
