{# templates/puzzles.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <h1>Průběh hry</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for puzzle in puzzles %}
                <th scope="col" colspan="3">{{ puzzle.puzzle }}</th>
            {% endfor %}
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="col">Tým</th>
            {% for puzzle in puzzles %}
                <th scope="col">Příchod</th>
                <th scope="col">Odchod</th>
                <th scope="col">Nápovědy</th>
            {% endfor %}
            <th scope="col">Celkem nápověd</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <th scope="row"><a href="/history/{{ team.id_team }}">{{ team.name }}</a></th>
                {% for puzzle in puzzles %}
                    <td {{ "class=text-bg-warning"
                            if puzzle.id_puzzle in arrival_times[team.id_team]
                            and puzzle.id_puzzle not in solve_times[team.id_team] }}>
                        {{ arrival_times[team.id_team][puzzle.id_puzzle] }}
                    </td>
                    <td {{ "class=text-bg-success" if puzzle.id_puzzle in solve_times[team.id_team] }}>
                        {{ solve_times[team.id_team][puzzle.id_puzzle] }}
                    </td>
                    <td>
                        {{ hints[team.id_team][puzzle.id_puzzle] if hints[team.id_team][puzzle.id_puzzle] > 0 }}
                    </td>
                {% endfor %}
                <td>
                    {{ hints[team.id_team]["sum"] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content_admin %}
