{# templates/puzzle_edit.html #}

{% extends "base_admin.html" %}
{% import "_macros.html" as macros %}

{% block content_admin %}
    <form method="post">
        <div class="row mb-3">
            <label for="id_puzzle" class="col-3 col-form-label">id_puzzle</label>
            <div class="col-9">
                <input type="text" class="form-control" id="id_puzzle" name="id_puzzle" required value="{{ puzzle.id_puzzle if puzzle else "" }}" disabled>
            </div>
        </div>
        <div class="row mb-3">
            <label for="puzzle" class="col-3 col-form-label required">Název šifry</label>
            <div class="col-9">
                <input type="text" class="form-control" id="puzzle" name="puzzle" required value="{{ puzzle.puzzle if puzzle else "" }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="puzzle" class="col-3 col-form-label">Zadání</label>
            <div class="col-9">
                {{ macros.html_textarea("assignment", puzzle.assignment if puzzle else "") }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="order" class="col-3 col-form-label required">Pořadí</label>
            <div class="col-9">
                <input type="number" class="form-control" id="order" name="order" required value="{{ puzzle.order if puzzle else order }}">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <a class="btn btn-secondary" href="/puzzles" role="button">Zpět</a>
            </div>
        </div>
    </form>

    {% if puzzle %}
        <h2>Otevírací kódy</h2>
        <ul class="list-group mb-3">
            {% for code in arrival_codes %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="flex-fill">
                        {{ code.code }}
                    </div>
                    <div>
                        <a class="btn btn-warning" href="/puzzles/{{ puzzle.id_puzzle }}/arrival_codes/{{ code.id_arrival_code }}" role="button"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="/puzzles/{{ puzzle.id_puzzle }}/arrival_codes/{{ code.id_arrival_code }}/delete" class="d-inline" onsubmit='return confirm("Smazat kód \"{{ code.code }}\"?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary" href="/puzzles/{{ puzzle.id_puzzle }}/arrival_codes/new" role="button">Přidat otevírací kód</a>

        <h2>Řešení</h2>
        <ul class="list-group mb-3">
            {% for code in solution_codes %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="flex-fill">
                        {{ code.code }}
                    </div>
                    <div>
                        <a class="btn btn-warning" href="/puzzles/{{ puzzle.id_puzzle }}/solution_codes/{{ code.id_solution_code }}" role="button"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="/puzzles/{{ puzzle.id_puzzle }}/solution_codes/{{ code.id_solution_code }}/delete" class="d-inline" onsubmit='return confirm("Smazat řešení \"{{ code.code }}\"?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary" href="/puzzles/{{ puzzle.id_puzzle }}/solution_codes/new" role="button">Přidat řešení</a>

        <h2>Nápovědy</h2>
        <ul class="list-group mb-3">
            {% for hint in hints %}
                <li class="list-group-item d-flex align-items-center">
                    <div style="width: 150px">
                        {{ hint.order }}. (po {{ hint.minutes_to_open }} minutách)
                    </div>
                    <div class="flex-fill">
                        {{ hint.hint|safe }}
                    </div>
                    <div>
                        <a class="btn btn-warning" href="/puzzles/{{ puzzle.id_puzzle }}/hints/{{ hint.id_hint }}" role="button"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="/puzzles/{{ puzzle.id_puzzle }}/hints/{{ hint.id_hint }}/delete" class="d-inline" onsubmit='return confirm("Smazat {{ hint.order }}. nápovědu?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary" href="/puzzles/{{ puzzle.id_puzzle }}/hints/new" role="button">Přidat nápovědu</a>

        <h2>Závislosti</h2>
        <p>Šifry, které musí být vyřešené, aby se tahle zpřístupnila.</p>
        <ul class="list-group mb-3">
            {% for prerequisite in puzzle.get_prerequisites() %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="flex-fill">
                        {{ prerequisite.puzzle }}
                    </div>
                    <div>
                        <form method="post" action="/puzzles/{{ puzzle.id_puzzle }}/prerequisites/{{ prerequisite.id_puzzle }}/delete" class="d-inline" onsubmit='return confirm("Smazat závislost na \"{{ prerequisite.puzzle }}\"?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary mb-3" href="/puzzles/{{ puzzle.id_puzzle }}/prerequisites/new" role="button">Přidat šifru</a>
    {% else %}
        <p>Nastavení nápověd, řešení a závislostí se objeví po uložení základních informací.</p>
    {% endif %}
{% endblock content_admin %}
