{# templates/puzzlehunts_csv_import.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <form method="post">
        <div class="row mb-3">
            <label for="puzzlehunt" class="col-3 col-form-label required">Šifrovačka</label>
            <div class="col-9">
                <input type="text" class="form-control" id="puzzlehunt" name="puzzlehunt" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="minutes_to_hint" class="col-3 col-form-label required">Čas nápověd (minuty)</label>
            <div class="col-9">
                <input type="number" class="form-control" id="minutes_to_hint" name="minutes_to_hint" required>
            </div>
        </div>
        <div class="row">
            <label for="puzzlehunt_csv" class="col-3 col-form-label required">CSV</label>
            <div class="col-9">
                <textarea id="puzzlehunt_csv" name="puzzlehunt_csv" class="form-control" required
                          placeholder="order,puzzle,arrival_code,solution_code,solution_message,hint_1,hint_2,prerequisites"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-3"></div>
            <div class="col-12 col-sm-9">
                <dl class="row mt-3">
                    <dt class="col-12 col-lg-3"><code>order</code></dt>
                    <dd class="col-12 col-lg-9">pořadí šifry</dd>
                    <dt class="col-12 col-lg-3"><code>puzzle</code></dt>
                    <dd class="col-12 col-lg-9">název šifry</dd>
                    <dt class="col-12 col-lg-3"><code>arrival_code</code></dt>
                    <dd class="col-12 col-lg-9">kód pro příchod na stanoviště (zobrazení šifry v systému)</dd>
                    <dt class="col-12 col-lg-3"><code>solution_code</code></dt>
                    <dd class="col-12 col-lg-9">řešení šifry</dd>
                    <dt class="col-12 col-lg-3"><code>solution_message</code></dt>
                    <dd class="col-12 col-lg-9">zpráva pro tým po vyřešení (může být HTML)</dd>
                    <dt class="col-12 col-lg-3"><code>hint_1</code></dt>
                    <dd class="col-12 col-lg-9">první nápověda (může být HTML)</dd>
                    <dt class="col-12 col-lg-3"><code>hint_2</code></dt>
                    <dd class="col-12 col-lg-9">druhá nápověda (může být HTML)</dd>
                    <dt class="col-12 col-lg-3"><code>prerequisites</code></dt>
                    <dd class="col-12 col-lg-9">seznam šifer, které musí být vyřešeny, než jde zadat příchozí kód této šifry (zadává se jako seznam čísel &ndash; pořadí šifer &ndash; oddělených čárkami)</dd>
                </dl>
                <p>CSV zadávejte včetně hlavičky, oddělené čárkami (a pokud jsou v nějaké buňce čárky, dejte ji do uvozovek).</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb-1 me-1">Uložit</button>
                <a class="btn btn-secondary mb-1 me-1" href="/puzzlehunts" role="button">Zpět</a>
            </div>
        </div>
    </form>
    <p>Další nastavení se objeví po uložení základních informací.</p>
{% endblock content_admin %}
