{# templates/puzzlehunt_edit.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <form method="post">
        <div class="row mb-3">
            <label for="id_puzzlehunt" class="col-3 col-form-label">id_puzzlehunt</label>
            <div class="col-9">
                <input type="text" class="form-control" id="id_puzzlehunt" name="id_puzzlehunt" required value="{{ puzzlehunt.id_puzzlehunt if puzzlehunt else "" }}" disabled>
            </div>
        </div>
        <div class="row mb-3">
            <label for="puzzlehunt" class="col-3 col-form-label">Šifrovačka</label>
            <div class="col-9">
                <input type="text" class="form-control" id="puzzlehunt" name="puzzlehunt" required value="{{ puzzlehunt.puzzlehunt if puzzlehunt else "" }}">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <a class="btn btn-secondary" href="/puzzlehunts" role="button">Zpět</a>
            </div>
        </div>
    </form>
    {% if puzzlehunt %}
        <h2>Kódy</h2>
        <ul class="list-group mb-3">
            {% for code in codes %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="flex-fill">
                        {{ code.code }}
                    </div>
                    <div>
                        <a class="btn btn-warning" href="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/{{ code.id_code }}" role="button"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/{{ code.id_code }}/delete" class="d-inline" onsubmit='return confirm("Smazat kód \"{{ code.code }}\"?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary" href="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/new" role="button">Přidat kód</a>
    {% endif %}
{% endblock content_admin %}
