{# templates/puzzlehunt_edit.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <form method="post">
        <div class="row mb-3">
            <label for="id_puzzlehunt" class="col-3 col-form-label">id_puzzlehunt</label>
            <div class="col-9">
                <input type="text" class="form-control" id="id_puzzlehunt" name="id_puzzlehunt" required value="{{ puzzlehunt.id_puzzlehunt if puzzlehunt else "" }}" disabled>
            </div>
        </div>
        <div class="row mb-3">
            <label for="puzzlehunt" class="col-3 col-form-label required">Šifrovačka</label>
            <div class="col-9">
                <input type="text" class="form-control" id="puzzlehunt" name="puzzlehunt" required value="{{ puzzlehunt.puzzlehunt if puzzlehunt else "" }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="minutes_to_hint" class="col-3 col-form-label">Výchozí čas nápovědy (minuty)</label>
            <div class="col-9">
                <input type="number" class="form-control" id="minutes_to_hint" name="minutes_to_hint" value="{{ puzzlehunt_settings["minutes_to_hint"].value if "minutes_to_hint" in puzzlehunt_settings }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="hints_are_ordered" class="col-3 col-form-label">Nápovědy se musí brát popořadě</label>
            <div class="col-9">
                <input type="checkbox" class="form-check-input" id="hints_are_ordered" name="hints_are_ordered" style="margin-top: 0.75rem"
                        {{ "checked" if not puzzlehunt or "hints_are_ordered" in puzzlehunt_settings and puzzlehunt_settings["hints_are_ordered"].value == "True" }}>
            </div>
        </div>
        {% if puzzlehunt %}
            <div class="row mb-3">
                <label for="start_code" class="col-3 col-form-label">Kód pro start</label>
                <div class="col-9">
                    <select class="form-select" id="start_code" name="start_code">
                        <option value="" {{ "selected" if "start_code" not in puzzlehunt_settings or puzzlehunt_settings["start_code"].value == "" }}></option>
                        {% for code in codes %}
                            <option value="{{ code.id_code }}"
                                    {{ "selected=selected" if "start_code" in puzzlehunt_settings and puzzlehunt_settings["start_code"].value == (code.id_code|string) }}>
                                {{ code.code }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="finish_code" class="col-3 col-form-label">Kód pro cíl</label>
                <div class="col-9">
                    <select class="form-select" id="finish_code" name="finish_code">
                        <option value="" {{ "selected" if "finish_code" not in puzzlehunt_settings or puzzlehunt_settings["finish_code"].value == "" }}></option>
                        {% for code in codes %}
                            <option value="{{ code.id_code }}"
                                    {{ "selected=selected" if "finish_code" in puzzlehunt_settings and puzzlehunt_settings["finish_code"].value == (code.id_code|string) }}>
                                {{ code.code }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <a class="btn btn-secondary" href="/puzzlehunts" role="button">Zpět</a>
            </div>
        </div>
    </form>
    {% if puzzlehunt %}
        <h2>Kódy</h2>
        <ul class="list-group mb-3">
            {% for code in codes %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="flex-fill">
                        {{ code.code }}
                    </div>
                    <div>
                        <a class="btn btn-warning" href="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/{{ code.id_code }}" role="button"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/{{ code.id_code }}/delete" class="d-inline" onsubmit='return confirm("Smazat kód \"{{ code.code }}\"?")'>
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-secondary" href="/puzzlehunts/{{ puzzlehunt.id_puzzlehunt }}/codes/new" role="button">Přidat kód</a>
    {% else %}
        <p>Další nastavení se objeví po uložení základních informací.</p>
    {% endif %}
{% endblock content_admin %}
