{# templates/team_edit.html #}

{% extends "base_admin.html" %}

{% block content_admin %}
    <form method="post">
        <div class="row mb-3">
            <label for="id_team" class="col-3 col-form-label">id_team</label>
            <div class="col-9">
                <input type="text" class="form-control" id="id_team" name="id_team" required value="{{ team.id_team if team else "" }}" disabled>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-3 col-form-label required">Název týmu</label>
            <div class="col-9">
                <input type="text" class="form-control" id="name" name="name" required value="{{ team.name if team else "" }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-3 col-form-label {{ "required" if not team }}">Heslo</label>
            <div class="col-9">
                <input type="password" class="form-control" id="password" name="password" {{ "required" if not team }} placeholder="{{ "Nechte prázdné pro zachování současného hesla." if team }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="phone" class="col-3 col-form-label">Telefon</label>
            <div class="col-9">
                <input type="text" class="form-control" id="phone" name="phone" value="{{ team.phone }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="note" class="col-3 col-form-label">Poznámka</label>
            <div class="col-9">
                <textarea class="form-control" id="note" name="note" rows="1">{{ team.note }}</textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Uložit</button>
                <a class="btn btn-secondary" href="/teams" role="button">Zpět</a>
            </div>
        </div>
    </form>
{% endblock content_admin %}
